body {
	text-align: center;
	font-family: arial;
	background-color: lightgrey;
}

button {
	padding: 8px;
	border: grey solid 1px;
	border-radius: 5px;
}

button:hover {
	cursor: pointer;
	background: rgb(211,211,211);
}